<%= form_tag url_for(:controller => 'main', :action =>'staff')  do -%>
	<%= hidden_field_tag 'user_id', user.id %>
  <%=raw help_button('DNS')%>
  <% if not user.domain.nil? and user.domain.size > 3%>
    Прикрепленный домен:
    <b><a href="http://<%= user.domain %>" target="_blank"><%= user.domain %></a></b>
    <%=raw true_button('[x]')%>
  <%else%>
    Прикрепить домен: <%= text_field_tag 'user[domain]','', :size=>'20',:class => 'text' %>
    <%=raw true_button('ok')%>
  <%end%>
<% end -%>