<table><tr><td>
      <b>FTP</b></td></tr>
  <tr><td>
      login:</td><td>ox<%= current_user.id.to_s %></td></tr>
  <tr><td>
      password:</td><td><%= current_user.ftppass %></td></tr>
  <tr><td colspan="2">
      адрес: webhosting.oxnull.net</td></tr>
  <tr><td>
      <b>MYSQL</b></td></tr>
  <tr><td>
      login:</td><td>ox<%= current_user.id.to_s %></td></tr>
  <tr><td>
      password:</td><td><%= current_user.mysqlpass %></td></tr>
  <tr><td>
      имя БД:</td><td>ox<%= current_user.id.to_s %></td></tr>
  <tr><td>
      адрес:</td><td>localhost</td></tr>
</table>
<%= update_page_tag do |page|
  page.replace_html('sms_link', "<b>#{rlink 'Пополнить счет по SMS &gt;&gt;', {:controller=>'flex', :action=>'sms_phone',:format=>'html'},'adept_center'}</b>")
end%>