<%= shorthead("Мой сайт(ox"+current_user.id.to_s+")") %>

Последнее обращение: <%= @last_upd.to_s %><br/>
Ваш сайт - <b><a href="http://<%= current_user.login %>.oxnull.net" target="_blank">http://<%= current_user.login %>.oxnull.net</a></b> [<%= link_to "пересоздать", {:controller=> 'main', :action => "rebuild"}, :confirm => "Внимание, все данные будут потеряны! Продолжить?" %>]<br/>
<% if current_user.domain.nil? or current_user.domain.size < 3 %>
  <%= form_for :user, :url =>{:action =>'staff'} do |f| -%>
    <p><label for="login">Присоединить домен [<a href="http://wiki.oxnull.net/index.php/DNS" target="_blank">помощь</a>]</label><br/>
    <%= f.text_field :domain, :size=>'29' %><%= submit_tag 'Прикрепить домен!' %></p>
  <% end -%>
<%else%>
  Прикрепленный домен: <a href="http://<%= current_user.domain %>" target="_blank"><%= current_user.domain %></a>
  [<%= link_to "отсоединить", {:controller=> 'main', :action => "deatt"}, :confirm => "Вы уверены что хотите отсоединить домен #{current_user.domain}?" %>]
<%end%>
<hr/>
<b>Ваши квоты:</b>
<table align="center" style="border-color:white;text-align:center;border-style:dotted;">
  <tr><td></td><td>Текущее</td><td>Максимальное</td></tr>
  <tr><td>HDD</td><td><%=@disk_current_size/(1024*1024) %>MB</td><td><%=@disk_max_size/(1024*1024)%>MB</td></tr>
  <tr><td>Mysql</td><td><%=@mysql_current_size/(1024*1024)%>MB</td><td><%=@mysql_max_size/(1024*1024)%>MB</td></tr>
</table>
<br/>
<div id="tasks">
  <%= render :partial => "tasks", :locals => { :tasks => @tasks} %>
</div>

<div id="invites">
  <hr/>
  
  <b>Вас пригласил:</b> <a href="http://<%=@master%>" target="_blank"><%=@master%></a>
  <br/><br/>
  <b>Ваши адепты:</b>
  <span id="invite_list">
    <%= render :partial => "inv_list", :locals => { :invites => @invites} %>
  </span>
  <%= rlink "Создать приглашение", {:controller=> 'main', :action => "invite", :task => 'new'}, "invite_list"%>
</div>
<br/>
<%= periodically_call_remote(:url => url_for(:action => 'tasklist'), :frequency => '15', :update => 'tasks') %>
<hr/>
<a href="http://wiki.oxnull.net/index.php/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0" target="_blank">Правила ox-хостинга</a><br/>
<a href="http://wiki.oxnull.net/index.php/%D0%91%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9_%D1%81%D1%82%D0%B0%D1%80%D1%82#.D0.92.D1.85.D0.BE.D0.B4" target="_blank">Как войти чтобы им управлять?</a><br/>
<a href="http://wiki.oxnull.net/index.php/%D0%91%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9_%D1%81%D1%82%D0%B0%D1%80%D1%82#.D0.A1.D0.BC.D0.B5.D0.BD.D0.B0_.D0.BF.D0.B0.D1.80.D0.BE.D0.BB.D1.8F_.D0.B0.D0.B4.D0.BC.D0.B8.D0.BD.D0.B8.D1.81.D1.82.D1.80.D0.B0.D1.82.D0.BE.D1.80.D0.B0" target="_blank">Как сменить пароль администратора?</a><br/>
<a href="http://wiki.oxnull.net/index.php/%D0%91%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9_%D1%81%D1%82%D0%B0%D1%80%D1%82#.D0.A1.D0.BC.D0.B5.D0.BD.D0.B0_.D0.B2.D0.BD.D0.B5.D1.88.D0.BD.D0.B5.D0.B3.D0.BE_.D0.B2.D0.B8.D0.B4.D0.B0" target="_blank">Как поставить другую тему оформления?</a><br/>
<a href="http://wiki.oxnull.net/index.php/%D0%91%D1%8B%D1%81%D1%82%D1%80%D1%8B%D0%B9_%D1%81%D1%82%D0%B0%D1%80%D1%82#.D0.A1.D0.BC.D0.B5.D0.BD.D0.B0_.D0.B8.D0.BC.D0.B5.D0.BD.D0.B8_c_u1.oxnull.net" target="_blank">Как cменить имя c u1.oxnull.net?</a><br/>
<%#= current_user.status %>

