<% if params[:favorite]=='true' %>
  <% title "Избранные блоги" %>
  <h5><%= link_to "Все блоги", blogs_path %> → Избранные блоги</h5>
<%elsif params[:favorite]=='all' %>
  <% title "Все статьи" %>
  <h5><%= link_to "Все блоги", blogs_path %> → Все статьи</h5>
<%elsif params[:favorite]=='rand' %>
  <% title "Случайные статьи" %>
  <h5><%= link_to "Все блоги", blogs_path %> → Случайные статьи</h5>
<%elsif params.has_key?('favorite') %>
  <% title "Тег: "+params[:favorite] %>
  <h5><%= link_to "Все блоги", blogs_path %> → Тег: <%=params[:favorite]%></h5>
<%else%>
  <% title @blog.name %>
  <h5><%= link_to "Все блоги", blogs_path %> → <%= @blog.name %> <%= '→' if logged_in? %> <%= add_favorite(@blog.id) %></h5>

<%end%>
<%= link_to "Все статьи", blog_posts_path(0, :favorite => "all") %> |
<%= link_to "Избранные", blog_posts_path(0, :favorite => "true") %> |
<%= link_to "Случайные", blog_posts_path(0, :favorite => "rand") %>

<% for post in @posts %>
  <div class="blog_post">
    <h2>
  <%# if params.has_key?('favorite') %>
      <%= link_to post.blog.name, blog_posts_path(post.blog_id) %> →
  <%#end%>
      <%=link_to h(post.title),blog_post_path(post.blog_id, post) %>
    </h2>
    <%txt = post.text.split(" --- ")%><%=tte txt.first %>
    <%if not txt.second.nil?%>
      <%=link_to 'Читать полностью',blog_post_path(post.blog_id, post) %>
    <%end%>
    <br/><br/>
    <div class="post_bottom">
      <%= author(post) %>
      <%= show_time(post.updated_at) %>
      <%= ox_rank_field(post) %>
      <% if can_edit?(post) %>
        | Управление:
        <%= link_to "[e]", edit_blog_post_path(post.blog_id, post) %>
        <%= link_to "[x]", blog_post_path(post.blog_id, post), :confirm => 'Точно удалить статью?', :method => :delete %>
      <%end%>
      <br/>
      Теги: <%= tag_links(post) %>
    </div>
    <div style="text-align:center; width:100%;"><hr width="70%"/></div>
  </div>
<% end %>

<%if @posts.nil? or @posts.size == 0%>
  <br/>
  <h2>Тут статей еще нет</h2
<%end%>

<% if not params.has_key?('favorite') and can_edit? %>
  <p><%= link_to "Создать статью", new_blog_post_path(@blog) %></p>
<%end%>
