<% title @post.title %>
<h5><%= link_to "Все блоги", blogs_path %> - <%= link_to @blog.name, blog_posts_path(@blog) %> - <%= @post.title %></h5>

<p>
  <%= @post.text %>
</p>
<hr style="width:95%;"/>
<p>
  Автор: <%= author(@post) %> [<%= @post.updated_at %>] <%= ox_rank(@post) %>
  <% if can_edit?(@post) %>
    <%= link_to "Редактировать", edit_blog_post_path(@blog, @post) %> |
    <%= link_to "Удалить", blog_post_path(@blog, @post), :confirm => 'Точно удалить?', :method => :delete %>
  <%end%>
</p>
<br/>
<p>
<h5>Комментарии(<%= @post.comments.size %>)</h5>
</p>
<div>
  <%= render :partial => 'comments' %>
</div>