<% title "Просмотр заявки" %>
<h5><%= link_to "Все блоги", blogs_path %> → <%= link_to "Все Заявки", supports_path %> → Просмотр заявки</h5>

<div id="show_support">
  <%= render :partial => "show_support", :locals => { :support => @support} %>
</div>
<br/><br/>

<h5>Комментарии(<%= @support.comments.size %>)</h5>
<div>
  <%= render :partial => 'posts/comments', :locals => {:comments => @support.comments, :support => @support} %>
</div>

<%if logged_in? and @support.worker_id == current_user.id and @support.status!='close'%>
  <%= periodically_call_remote(:url => support_url(@support), :method=>'get', :frequency => '30', :update => 'show_support') %>
<%end%>