<table>
  <%@users.each do |u|%>
    <tr><td><%= u.id.to_s %>(<%= u.status %>)</td><td><%= user_site_link(u) %></td>
	<%if not u.profile.nil?%>
		<td><%= profile_link(u.profile) %></td>
		<td><%= u.profile.email %></td>
	<%end%>
	</tr>
  <%end%>
</table>