<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || "ox - Мир") %> - oxnull.net</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <%= stylesheet_link_tag 'new_style' %>
    <%= stylesheet_link_tag 'textile-editor' %>
    <%= javascript_include_tag :all %>
    <script src="http://video.oxnull.net/flowplayer.min.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'ie6' %>
    <![endif]-->
    <%= yield(:head) %>
  </head>

  <body>
    <div id="main_box" class="main">
      <div class="header">
        <div class="logo"><%= image_tag("logo.png") %></div>
        <div class="menu_big">
          <div class="menu_left"></div>
          <div class="menu_right">
            <div class="aa"><%=link_to "Главная", blog_posts_path('all') %><%#= link_to "Главная", {:controller=> 'main', :action => "hello"}%></div>
            <div><%= image_tag("menu_separator.png") %></div>
            <% if logged_in? %>
              <div class="aa"><%= rlink "Мой сайт", {:controller=> 'main', :action => "index"}%></div>
              <div><%= image_tag("menu_separator.png") %></div>
              <!--<div class="aa"><%= rlink "FTP/MYSQL", {:controller=> 'main', :action => "about"}%></div>
                                                  <div><%= image_tag("menu_separator.png") %></div>
                                                  <div class="aa"><%= rlink "Услуги", {:controller=> 'wm', :action => "index"}%></div>
                                                  <div><%= image_tag("menu_separator.png") %></div>-->
            <%else%>
              <!--<div class="aa"><%= rlink "Войти", {:controller=> 'account', :action => "login"}%></div>
                                                  <div><%= image_tag("menu_separator.png") %></div>-->
              <div class="aa"><%= rlink "Регистрация", {:controller=> 'account', :action => "signup"}%></div>
              <div><%= image_tag("menu_separator.png") %></div>
            <%end%>
            <div class="aa"><%= rlink "Видео", {:controller=> 'main', :action => "video"}%></div>
            <div><%= image_tag("menu_separator.png") %></div>
            <div class="aa"><a href="http://offtop.oxnull.net/" target="_blank">Форум</a></div>
            <div><%= image_tag("menu_separator.png") %></div>
            <div class="aa"><a href="http://wiki.oxnull.net" target="_blank">Где я?</a></div>
          </div>
        </div>
        <div id="rounded_box_message">
          <b class="r10"></b>
          <b class="r9"></b>
          <b class="r8"></b>
          <b class="r7"></b>
          <b class="r6"></b>
          <b class="r5"></b>
          <b class="r4"></b>
          <b class="r3"></b>
          <b class="r2"></b>
          <b class="r1"></b>
          <div id="tasks" class="message">
            <%= render :partial => "main/unread_posts", :locals => { :posts => @unread_posts} %>
          </div>
          <b class="r1"></b>
          <b class="r2"></b>
          <b class="r3"></b>
          <b class="r4"></b>
          <b class="r5"></b>
          <b class="r6"></b>
          <b class="r7"></b>
          <b class="r8"></b>
          <b class="r9"></b>
          <b class="r10"></b>
        </div>

        <div class="autorisation1">
          <% if not logged_in? and params[:action]!='login'%>
            <h5>Авторизация:</h5>
            <div class="autorisation2">
              <%- form_tag(url_for(:controller=>'account',:action => "login" )) do -%>
                <div style="float:right;">
                  Логин:<%= text_field_tag 'login','', :size=>'20', :class=>'text' %>
                  <%= hidden_field 'layer','layer', :value=>params[:layer] %>
                  Пароль:
                  <%= password_field_tag 'password','', :size=>'20', :class=>'text' %>
                </div>
                <div style="float:right;margin-right:6px;">
                  <a href="#" onclick="javascript:alert('Б-г-г!');">Забыли пароль?</a>
                  &nbsp;&nbsp;&nbsp;<%= check_box_tag 'remember_me' %>Запомнить
                  &nbsp;<%=true_button('Войти')%>
                </div>
              <%- end -%>
            </div>
          <%elsif not logged_in?%>
            <h5>Привет!</h5>
            <div class="autorisation2">
              Было бы неплохо авторизоваться в форме ниже...
            </div>
          <%else%>
            <h5>Привет!</h5>
            <div class="autorisation2">
              <%= profile_link(current_user) %>
              [<%= link_to "Выйти", {:controller=> 'account', :action => "logout"}%>]
            </div>
          <%end%>
        </div>

      </div>
      <div id="big_box_content" class="content_back">

        <div id="content_back_2" class="content_back_2"></div>
        <div id="box_content">
          <b class="r10"></b>
          <b class="r9"></b>
          <b class="r8"></b>
          <b class="r7"></b>
          <b class="r6"></b>
          <b class="r5"></b>
          <b class="r4"></b>
          <b class="r3"></b>
          <b class="r2"></b>
          <b class="r1"></b>
          <div class="content">
            <% unless flash[:notice].blank? %>
              <div id="notification"><%= flash[:notice] %></div>
              <%= update_page_tag do |page|
                page.visual_effect :fade, 'notification', :duration => 15;
              end%>
            <% end %>
            <% unless flash[:warning].blank? %>
              <div id="warning"><%= flash[:warning] %></div>
              <%= update_page_tag do |page|
                page.visual_effect :fade, 'warning', :duration => 30;
              end%>
            <% end %>
            <div class="new_1" id="main_div">
              <%= yield %>
            </div>
          </div>
          <b class="r1"></b>
          <b class="r2"></b>
          <b class="r3"></b>
          <b class="r4"></b>
          <b class="r5"></b>
          <b class="r6"></b>
          <b class="r7"></b>
          <b class="r8"></b>
          <b class="r9"></b>
          <b class="r10"></b>
        </div>

      </div>
      <div class="footer">
        <div class="news">
          <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script type="text/javascript">
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: 'oxnull',
              interval: 10000,
              title: 'Наши в Twitter\'e',
              subject: '',
              width: 'auto',
              height: 150,
              theme: {
                shell: {
                  background: 'transparent',
                  color: '#ffffff'
                },
                tweets: {
                  background: 'transparent',
                  color: '#FFFFFF',
                  links: '#B5E7FD'
                }
              },
              features: {
                scrollbar: false,
                loop: true,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: true,
                behavior: 'default'
              }
            }).render().start();
          </script>
        </div>
        <div class="pics">
          <table>
            <tr><td align="center"><%= image_tag("logos/gmo.png", :class=>'png') %></td></tr>
            <tr><td align="center"> oxnull.net © 2010.</td></tr>
            <tr><td align="center"> Все права защищены.</td></tr>
            <tr><td align="center"><div><%= spiner %></div></td></tr>
          </table>
        </div>
      </div>
    </div>
    <%-if logged_in?-%>
  <%#= periodically_call_remote(:url => url_for(:controller=>'main', :action => 'tasklist'), :frequency => '30', :update => 'tasks') %>
      <%= periodically_call_remote(:url => url_for(:controller=>'main', :action => 'unread_posts'), :frequency => '30', :update => 'tasks') %>
    <%-end-%>
    <div class="popup" id="ox_rank_helper_div"></div>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/pngfix/pngfix.js"></script>
    <![endif]-->
    <script type="text/javascript">
<%if not session[:gmtoffset]%>
    Event.observe(window, 'load', function(e) {
      var now = new Date();
      var gmtoffset = now.getTimezoneOffset();
      // use ajax to set the time zone here.
      var set_time = new Ajax.Request('/main/gmtoffset/'+gmtoffset, {
        onSuccess: function(transport) {}
      });
    });
<%end%>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("UA-5504344-3");
    pageTracker._trackPageview();
  } catch(err) {}</script>
  </body>
</html>